.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
     background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);;
}

.center__header{
    max-width: 900px;
}

.selection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selection input {
    height: 50px;
    margin-top:20px;
    width: 100%;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}


.buttons button {
    height: 50px;
    width: 170px;
}
